# Documentation: https://help.github.com/articles/about-codeowners

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern takes the most precedence.

/.github/CODEOWNERS @navtoj
* @navtoj
